<section class="mt-4">
    <img src="../../../assets/background.png" alt="Imagen de fondo de Vivero El Otoño" class="img-fluid shadow-sm">
    <table data-testid ="listado-plantas-table" class="table mt-4 w-50">
        <thead class="table-dark">
            <tr data-testid="listado-plantas-table-headers">
                <th scope="col">#</th>
                <th scope="col">Nombre común</th>
                <th scope="col">Tipo</th>
                <th scope="col">Clima</th>
            </tr>
        </thead>
        <tbody>
            @for(planta of listaPlantas(); track planta.id){
                <tr data-testid="listado-plantas-table-row">
                    <th scope="row">{{ planta.id }}</th>
                    <td>{{ planta.nombre_comun }}</td>
                    <td>{{ planta.tipo }}</td>
                    <td>{{ planta.clima }}</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex flex-column">
        <span data-testid="plantas-interiores">Total plantas de interior: {{cantidadPlantasInteriores()}}</span>
        <span data-testid="plantas-exteriores">Total plantas de exterior: {{cantidadPlantasInteriores()}}</span>
    </div>
</section>