<div class="d-flex flex-column px-5">
  <nav class="navbar">
    <h1>Vivero El Otoño</h1>
    <hr>
  </nav>

  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <footer class="d-flex flex-row flex-wrap justify-content-center gap-2 mt-5">
    <span class="fw-bold">Contact us:</span>
    <a class="fw-bold text-dark text-decoration-none" href="#">+57 3102105253</a> - 
    <a class="fw-bold text-dark text-decoration-none" href="#">info&#64;viveroelotonio.com</a> - 
    <a class="fw-bold text-dark text-decoration-none" href="#" target="_blank" rel="noopener noreferrer">&#64;viveroelotonio</a>
  </footer>
</div>
